.errorImage {
  width: 500px;
  height: auto;
  position: absolute;
  top: 10%;
  right: 40%;
}

.text {
  text-align: center;
  color: red;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  margin: 0 auto;
  font-size: 52px;
  max-width: 700px;
  position: absolute;
  top: 600px;
  left: 950px;
}

.smaller {
  font-size: 32px;
}
